{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="background-1">
        <div class="block-1">
            <div class="b1-words">
                <div class="mb-3">
                    <div class="title-1">
                        About this page
                    </div>
                    <div class="title-body-1">
                        As a student of CS50x, I really want to know what I'm getting into before taking any classes in terms of the workload,
                        content, and usefulness of the materials. Having this information would not only help me prepare for class but also give me
                        the chance to pre-read or pre-learn the material in advance. This feeling of uncertainty has inspired me to create a fun little
                        webpage called "DUCK"!
                    </div>
                </div>
            </div>
            <div class="block-pic-1">
                <img class="img-1" src="/static/cs50.jpg" alt="cs50">
            </div>
        </div>
    </div>

    <div class="background-2">
        <div class="block-1">
            <div class="block-pic-1">
                <img class="img-2" src="/static/duck.jpg" alt="cs50">
            </div>
            <div class="b2-words">
                <div class="mb-3">
                    <div class="title-1">
                        What is DUCK?
                    </div>
                    <div class="title-body-1">
                        DUCK is essentially inspired by CS50's most popular mascot, the duck, which represents the class.
                        What could be better than using the CS50 mascot itself? THE DUCK, of course! That’s how the DUCK logo was created!
                    </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="background-2">
        <div class="block-1">
            <div class="b1-words">
                <div class="mb-3">
                    <div class="title-1">
                        How does DUCK works?
                    </div>
                    <div class="title-body-1">
                        DUCK allows user to add "review" to CS50.
                        User can use the built-in rating system to rank the course base on:
                        <ul>
                            <li>Work Load</li>
                            <li>Usefulness</li>
                            <li>Quality</li>
                        </ul>
                        User is also allow to add personal comments to each week base on their own experinces.
                    </div>
                    </div>
            </div>
            <div class="block-pic-1">
                <img class="img-3" src="/static/function.png" alt="cs50">
            </div>
        </div>
    </div>
{% endblock %}
